body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* From uiverse.io by @alexmaracinaru */
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

.OpeningBackground {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url("./Assets/Moon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.homeBackground {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url("./Assets/Shiny\ Overlay.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bookingBackground {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='500' preserveAspectRatio='none' viewBox='0 0 1440 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1503%26quot%3b)' fill='none'%3e%3crect width='1440' height='500' x='0' y='0' fill='url(%23SvgjsLinearGradient1504)'%3e%3c/rect%3e%3cpath d='M41 500L541 0L677.5 0L177.5 500z' fill='url(%23SvgjsLinearGradient1505)'%3e%3c/path%3e%3cpath d='M343.8 500L843.8 0L1193.3 0L693.3 500z' fill='url(%23SvgjsLinearGradient1505)'%3e%3c/path%3e%3cpath d='M662.6 500L1162.6 0L1494.1 0L994.1 500z' fill='url(%23SvgjsLinearGradient1505)'%3e%3c/path%3e%3cpath d='M1407 500L907 0L736 0L1236 500z' fill='url(%23SvgjsLinearGradient1506)'%3e%3c/path%3e%3cpath d='M1062.2 500L562.2 0L112.20000000000005 0L612.2 500z' fill='url(%23SvgjsLinearGradient1506)'%3e%3c/path%3e%3cpath d='M767.4 500L267.4 0L37.89999999999998 0L537.9 500z' fill='url(%23SvgjsLinearGradient1506)'%3e%3c/path%3e%3cpath d='M1032.9294729875364 500L1440 92.92947298753649L1440 500z' fill='url(%23SvgjsLinearGradient1505)'%3e%3c/path%3e%3cpath d='M0 500L407.0705270124635 500L 0 92.92947298753649z' fill='url(%23SvgjsLinearGradient1506)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1503'%3e%3crect width='1440' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='16.32%25' y1='-47%25' x2='83.68%25' y2='147%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1504'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(163%2c 198%2c 243%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1505'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1506'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item img {
  height: 100%;
  border-radius: 10px;
}

/* From uiverse.io by @nikk7007 */
.btn_custom {
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid #b1dae7;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: #b1dae7;
}

.btn_custom::after,
.btn_custom::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: #b1dae7;
}

.btn_custom::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn_custom:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn_custom:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn_custom:hover {
  color: var(--color2);
}

.btn_custom:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.customColor label {
  color: #b1dae7;
}
